<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017867262934-9ik25lmirj7f62t4e58b18o9lv6tj8st.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017867262934-9ik25lmirj7f62t4e58b18o9lv6tj8st</string>
	<key>API_KEY</key>
	<string>AIzaSyBWSMtM2quxTrJcEybgsXoGVVFzbpGjo6s</string>
	<key>GCM_SENDER_ID</key>
	<string>1017867262934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snacks.snacks</string>
	<key>PROJECT_ID</key>
	<string>snacks-c6973</string>
	<key>STORAGE_BUCKET</key>
	<string>snacks-c6973.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017867262934:ios:2cc6c18912ecacf71a2277</string>
</dict>
</plist>